*{
    margin 0;
    padding: 0;
    box-sizing:border-box ;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.secondDiv{
    display: flex;
    background: rgb(154, 234, 154);
    width: 50%;
    padding: 20px;
    min-height: 50%;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    }

.secondDivHidden{
    display: none;
}

.userInfo{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}



.userFollow{
 
    width: 70%;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Follower{
display: flex;
width: 100%;
justify-content: space-around;


}
.userImg{
  width:350px;
  border-radius: 100%;

}

.userDetail{
    font-size:20px;
    text-align:center;
    display: flex;
    justify-items: center;
    


}


.userName{
    font-size: 2em;
}


.A{
    font-size: 2em;
    text-align: center;

}
.visit{
    font-size: 2em;
    text-align: center;
    background-color: rgb(49, 43, 35);
    width: 80%;
    height: 20%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    color:white;
    border-radius: 20px;
    text-decoration: none;
}


.loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
      }
      .loader::before , .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #FFF;
        animation: prixClipFix 2s linear infinite ;
      }
      .loader::after{
        border-color: #FF3D00;
        animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
        inset: 6px;
      }

      @keyframes rotate {
        0%   {transform: rotate(0deg)}
        100%   {transform: rotate(360deg)}
      }

      @keyframes prixClipFix {
          0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
          25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
          50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
          75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
          100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
      }